.modal {
  &__form {
    padding: 40px 39px;
  }

  &__title {
    display: block;
    font-weight: 700px;
    font-size: 20px;
    text-align: center;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: var(--primary-color);

    margin-bottom: 12px;
  }

  &__label {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-bottom: 10px;
  }

  &__description {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--secondary-color);
  }

  &__policy {
    display: block;
    margin-bottom: 30px;
  }
  &__policy {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    color: #2196f3;
    text-decoration: underline;
  }
}

.modal__btn-close {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  cursor: pointer;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  &:hover > .modal__icon-btn,
  &:focus > .modal__icon-btn {
    fill: var(--accent-color);
  }
}

.modal__reg {
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: var(--accent-color);
  }
  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal__icon {
  position: absolute;
  left: 15px;
  bottom: 11px;
  margin-right: 15px;

  color: var(--primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &-btn {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal__reg:hover + &,
  .modal__reg:focus + & {
    fill: var(--accent-color);
  }
}

.modal__textarea {
  width: 448px;
  height: 116px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: block;
  margin-bottom: 20px;

  &:hover {
    border-color: var(--accent-color);
  }

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &::placeholder {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    padding-left: 16px;
    padding-top: 8px;

    color: rgba(117, 117, 117, 0.5);
  }

  &-description {
    display: block;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--secondary-color);
  }
}

.modal__policy-desc {
  user-select: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-color);
}

.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;

  &:checked + .modal__checkbox-icon {
    background-origin: border-box;
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    background-image: url(../projects-icon/check.svg);
  }
  &-icon {
    width: 16px;
    height: 15px;
    display: inline-block;
    border: 2px solid var(--primary-color);
    border-radius: 2px;
    margin-right: 9px;
  }
}

.modal__btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  padding: 10px 56px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--default-white);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--button-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
