.section-team__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section-team__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--default-white);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.section-team__icon {
  fill: var(--logo-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .section-team__link:hover &,
  .section-team__link:focus & {
    fill: var(--default-white);
  }
}
