:root {
  /* ---fonts--- */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* ---colors--- */
  --primary-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
  --default-black: #000000;
  --default-white: #ffffff;
  --button-hover: #188ce8;
  --logo-color: #afb1b8;
  /* ---bg colors--- */
  --background-color: #2f303a;
  --background-color-team: #f5f4fa;
  /* ---others--- */
}
